.searchForm {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.searchInput {
  height: 42px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  border-radius: var(--border-radius-medium);
  font-size: 1rem;
  width: 100%;

  &::placeholder {
    color: #a3aab1;
    transform: translateY(1px);
  }
}

.searchButton {
  border: none;
  border-radius: 0 4px 4px 0;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}

.icon {
  position: absolute;
  left: 12px;
}