.skeleton {
  background-color: #e2e8f0;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, transparent, rgba(255,255,255,0.4), transparent);
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeletonCard {
  @extend .skeleton;

  aspect-ratio: 13/15;
  background-color: white;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--color-border);
  padding: 11px;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.skeletonImage {
  @extend .skeleton;

  aspect-ratio: 47/43;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.skeletonText {
  @extend .skeleton;

  width: 100%;
  height: 40px;
}